*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Custom patterns
.idea/
.vscode/
/release/
*.jar
*app/release
.kotlin
rust_logic/target
rust_logic/log.txt
.idea
app/src/main/jniLibs
rust_logic/src/security/keys.rs
app/encrypt_jar.py
app/upload_jar.py